*{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin-right: auto;
    margin-left: auto;
    width: 1130px;
    min-height: 500px;
}

.slide{
    height: 500px;
    width: 100%;
    background: url(img/wuri.jpg);
    background-size: 100% 115%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden ;
    margin-top: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #DB292F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}


li{
    float: left;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
}

li.menu-item{
    margin-left: 30px;
    margin-top: 32px;
    border-radius: 50px;
    transition: 0.4s;
}

li .menu-item:hover{
    border-radius: 50px;
    background-color: #a61c21;
    border: 1px solid white;
}

.menu-search{
    height: 30px;
    margin-left: 30px;
    margin-top: 32px;
    padding: 5px;
    padding-right: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    color: white;
}

.menu input[type="text"]{
    padding-left: 20px;
}

.menu-search::placeholder{
    padding-left: 1px;
    color: white;
}

.logo{
    margin-top: 20px;
    margin-left: 20px;
}

.title-image{
    margin-left: 150px;
    top: 188px;
    position: absolute;
    color: #C02127;
}

.description-image{
    margin-left: 150px;
    margin-top: 210px;
    position: absolute;
    font-size: 19px;
}

.catalog{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    border-radius: 25px;
}

.column{
    float: left;
    width: 21%;
    margin-top: 50px;
    margin-left: 20px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.prestasi{
    margin-top: -40px;
    margin-left: 50px;
}

.lokasi{
    margin-top: -50px;
    margin-left: 50px;
}

.fasilitas{
    margin-top: -50px;
    margin-left: 60px;
}

.virtual{
    margin-top: -75px;
    margin-top: 75px;
}

.catalog-column{
    transition: 0.3s;
}

.catalog-column:hover{
    margin-top: -5px;
    padding: 20px;
    background: #C02127;
    color: white;
    border-radius: 25px;
}

.judul{
    margin-left: 5px;
    margin-top: 30px;
    width: 43%;
    height: 50px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(212, 211, 211, 0.788);
    position: relative;
}
.garis{
    width: 2%;
    height: 50px;
    background-color: #DB292F;
}

.judul p{
    position: absolute;
    top: 0;
    left: 30px;
    margin-top: 12px;
}

p span{
    font-weight: 800s;
}

.keunggulan{
    display: grid;
    margin: 30px auto;
    width: 73%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card{
    margin-top: 38px;
    width: 22%;
    border-radius: 12px;
    background-color: white;
    border: 2px solid #DB292F;
    height: 200px;
}
.card img{
    position: absolute;
    background-color: white;
    padding: 6px;
    border-radius: 9px;
    top : 3px;
    left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

.card img.why1{
    left: 193px;
}

.card img.why2{
    left: 386px;
}

.card img.why3{
    left: 672px;
}

.card img.why4{
    left: 960px;
}

.card p.heading{
    margin-top: 0px;
    background-color: #DB292F;
    padding: 18px;
    color: white;
    font-weight: 700;
    font-size: 27px;
    border-radius: 9px 9px 0 0;
}

.card p.foot{
    text-align: center;
    font-size: 12px;
}

